.content-page{
    /* width: 100%; */
    padding: 0 25px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
}
.content-page button{
    border: none;
    background: none;
}
.login-title{
    font-size:28px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(49,49,61,1);
    line-height:34px;
    text-align: center;
    height: 54px;
    line-height: 54px;
    width: 100%;
    margin-top: 55px;
}
.login-tip{
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(163,163,168,1);
    margin-bottom: 20px;
}
.form-block{
    overflow: hidden;
    font-size:15px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:#31313D;
    border-bottom: 1px solid #DEDEE0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: url("../../assets/image/name-icon.png") no-repeat 0 center;
    background-size: 7%;
}
.job-block{
    background-image: url("../../assets/image/job-icon.png");
}
.phone-block{
    background-image: url("../../assets/image/mobile-icon.png");
}
.auth-block{
    background-image: url("../../assets/image/auth-icon.png");
}
.verify-block{
    background-image: url("../../assets/image/verify-icon.png");
}
.content-page .label-tag{
    /* display: block; */
    margin-left: 35px;
    margin-right: 5px;
    float: left;

}
.content-page input{
    /* border-bottom: 1px solid #000; */
    margin-left: 30px;
    width: 70%;
    float: left;
    margin-top: 13px;
}
.auth-block input{
    width: 55%;
}
.label-tip{
    float: left;
}
.verify-block,.auth-block{
    position: relative;
}
.verify-block .get-sms-btn,.count{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    height:16px;
    line-height:16px;
}
.verify-block .get-sms-btn{
    color:rgba(76,151,255,1);
    padding: 0;
    border-bottom: 1px solid #4C97FF;
}
.verify-block .count{
    color: #A3A3A8;
}
.content-page .goto{
    margin-top: 45px;
    width: 100%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background:linear-gradient(90deg,rgba(255,154,31,1) 0%,rgba(255,105,31,1) 100%);
    border-radius:4px;
    /* opacity:0.5; */
    font-size:15px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.content-page .goto[disabled]{
    opacity:0.5;
}
.errorTip{
    border-color: #FF1F44;
}
.auth-img{
    width: 120px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.toast-btn{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
}
.toast-btn .toastBox{
    width:280px;
    height:263px;
    background:rgba(255,255,255,1);
    border-radius:4px;
    margin: 100px auto 0;
}
.toast-btn .toastBox div{
    text-align: center;
    height: 54px;
    line-height: 54px;
    font-size:20px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(49,49,61,1);
}
.toastBox img{
    width:78px;
    height:78px;
    margin: 38px auto 20px;
    display: block;
}
.login-wexin{
    border: none;
    background: none;
    width:200px;
    text-align: center;
    height:43px;
    line-height: 43px;
    background:linear-gradient(90deg,rgba(17,225,93,1) 0%,rgba(0,204,102,1) 100%);
    border-radius:4px;
    font-size:15px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.login-wexin::after{
    border: none;
    }