.content-page{
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  box-sizing: border-box;
  background-color: #fff;
  /* overflow: hidden; */
}
.content-page li{
  list-style: none;
}
.f8{
  width: 100%;
  height:10px;
  background:rgba(248,248,248,1);
}
.block{
  width: 100%;
  background-color: #fff;
  font-size:15px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(49,49,61,1);
  box-sizing: border-box;
}
.fl{
  float: left;
}
.rl{
  float: right;
}
.client-header{
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #EEEEF0;
}
.client-header ul{
  overflow: hidden;
}
.client-header li{
  width: 50%;
  position: relative;
  color: #6A6A73;
}
.client-header li:nth-child(1){
  text-indent:90px;
}
.client-header li:nth-child(2){
  text-indent:35px;
  position: relative;
}
.client-header li::after{
  position: absolute;
  content: '';
  width:30px;
  height:2px;
  border-radius:1px;
  bottom: 0;
}
.client-header li:nth-child(1)::after{
  left: 105px;
}
.client-header li:nth-child(2)::after{
  left: 50px;
}
.client-header .active{
  color:rgba(49,49,61,1);
}
.active::after{
  background:rgba(255,105,31,1);
}
.client-state-number{
  padding: 0px 5px;
  background:rgba(255,31,68,1);
  border-radius:9px;
  font-size:11px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  width: auto;
  height: auto;
  position: absolute;
  top: 6px;
  left: 90px;
  height: 18px;
  line-height: 18px;
  min-width: 20px;
  text-align: center;
  text-indent: 0;
}
.my-client-block{
  height: 90px;
  line-height: 90px;
  padding: 0 15px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.my-client-title{
  width: 60px;
  margin-right: 67px;
  line-height:112px;  
}
.my-client-number{
  font-size: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.my-client-number span{
  font-size:35px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(49,49,61,1);
}
.tag-block{
  height: 49px;
  overflow: hidden;
  font-size:12px;
  padding: 0 15px;
  color:rgba(106,106,115,1);
}
.tag-block li{
  width:85px;
  height:24px;
  line-height: 24px;
  border-radius:12px;
  border:1px solid rgba(163,163,168,1);
  margin-right: 12px;
  margin-top: 13px;
  text-align: center;
}
.tag-block .selectTag{
  border:1px solid rgba(255,105,31,1);
  color:rgba(255,105,31,1);
  background:rgba(255,105,31,.1);
  font-family:PingFangSC-Medium;
  font-weight:500;
}
/* 客户动态 */
.client-state{
  background-color: #fff;
  width: 100%;
}
.none-state{
  font-size:15px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(106,106,115,1);
  text-align:center;  
}
.none-state img{
  width: 184px;
  height: 200px;
  display: block;
  margin:80px auto 15px;  
}


